@media only screen and (max-width: 549px) {
	.cls_SignInBox {
		width: auto;
		height: auto;
		margin: 20px;
		position: unset;
	}
	.cls_SignInWrapper {
		background-color: #fff;
		height: auto;
	}
}
