#root,
.App {
	height: 100vh;
}

/* pages css */

.cls_SignInWrapper,
.cls_SignUpWrapper {
	height: 100%;
	background-color: #1732a4;
	position: relative;
}

.cls_SignUpTextCont,
.cls_SignInTextCont {
	margin-top: 30px;
	cursor: pointer;
}

.cls_SignUpTextCont span,
.cls_SignInTextCont span {
	color: #1732a4;
}

.cls_SignInBox,
.cls_SignUpBox {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 50%;
	overflow: auto;
	padding: 15px;
	margin: auto;
	background-color: #fff;
	border-radius: 20px;
}

.cls_SignInFormWrapper,
.cls_SignUpFormWrapper {
	margin-top: 25px;
}

.cls_PageTitle {
	font-weight: bolder;
	font-size: 22px;
}

.addToCartBtn,
.pdp_addToCartBtn {
	color: #fff;
	background-color: #478ac9;
	border-radius: 5px;
	height: 50px;
	line-height: 50px;
}

.cls_ProductFilterWrapper select {
	padding: 20px;
	width: 130px;
	border-color: #adadad;
	border-radius: 2px;
	margin: 20px 0px;
}

.cls_pdpWrapper {
	margin: 0 auto;
}

.cls_pdpHeaderWrapper {
	display: flex;
	margin-bottom: 20px;
}

.cls_pdptitle {
	flex: 1;
	text-align: center;
}

.cls_pdpBack {
	cursor: pointer;
	color: #478ac9;
}

.cls_pdpImgWrap {
	text-align: center;
	flex: 0.5;
}

.cls_pdpImgWrap img {
	max-width: 300px;
	/* align-content: inherit; */
}

.cls_pdpBodyWrapper {
	display: flex;
}

.cls_pdpDetailWrap {
	flex: 0.5;
}

.cls_pdpName {
	font-weight: bold;
	margin-bottom: 15px;
}

.cls_pdpDescription {
	margin-bottom: 20px;
}

.cls_pdpDetailWrap .cls_ProdPrice {
	margin: 5px 0px;
}

.pdp_addToCartBtn {
	text-align: center;
	width: 200px;
}

.cls_CartBodyWrapper {
	margin: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 20px;
}

.cls_BackHome {
	text-align: left;
}

.cls_CartProdCont {
	display: flex;
	margin: 20px 0px;
	padding-bottom: 20px;
	border-bottom: solid 1px #acacac;
}

.cls_CartProdImage {
	margin-right: 30px;
}

.cls_CartProdImage img {
	max-width: 200px;
}

.cls_CartDesc {
	display: flex;
}

.cls_cartProdName {
	flex: 0.8;
	font-weight: bold;
}

.cls_CartProdDetailCont {
	flex: 1;
}

.cls_cartProdPrice {
	color: #acacac;
	font-weight: bold;
	padding-right: 10px;
}

.cls_cartProdQty {
	border: solid 1px;
	padding: 3px 5px;
	width: 30px;
	height: 17px;
	font-size: 14px;
	text-align: right;
	margin-right: 15px;
}

.cls_cartProdPriceTotal {
	font-weight: bold;
}

.cls_cartRemove {
	color: #478ac9;
	width: 200px;
	margin: 20px 0px;
	cursor: pointer;
}

.cls_CartTotal {
	text-align: center;
	font-weight: bold;
}

.cls_CartEmptyMessage {
	text-align: center;
	font-size: 22px;
	margin-bottom: 50px;
}

.cls_cartPriceWrapper {
	display: flex;
	flex: 0.2;
}

/** components css **/

.cls_InputBox {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 0px;
	padding: 20px;
	background-color: #f3eeee;
}

.cls_SubmitBtn {
	width: 100%;
	-webkit-appearance: none;
	height: 50px;
	border: 0;
	color: #fff;
	border-radius: 9px;
	background-color: #2dca73;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
}

.cls_ProductsWrapper {
	padding: 20px 0px;
	margin: 0 auto;
	text-align: center;
}

.cls_ProdImgCont img {
	width: 300px;
	height: 250px;
}

.cls_ProductCont {
	display: inline-block;
	padding: 20px 15px;
	cursor: pointer;
}

.cls_Title {
	text-align: center;
	font-size: 22px;
}

.cls_BodyWrapper {
	margin: 20px;
}

.cls_ProdName {
	font-weight: bold;
}

.cls_ProdDesc {
	padding: 10px 0px;
}

.cls_ProdPrice {
	color: #478ac9;
}

span.cls_ProdOldPrice {
	text-decoration: line-through;
	color: #565959;
	font-size: 11px;
	padding-left: 5px;
}

.cls_ProdDescription {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 300px;
}

.cls_Header {
	background-color: #478ac9;
	color: #fff;
	padding: 20px;
	display: flex;
	vertical-align: middle;
}

.cls_cartIcon {
	width: 24px;
	background-image: url("https://img.icons8.com/fluent-systems-regular/24/ffffff/fast-cart.png");
	height: 24px;
	text-align: right;
	position: relative;
}

.cls_cartIcon span {
	position: absolute;
	bottom: 12px;
	background-color: yellow;
	border-radius: 100px;
	width: 15px;
	right: -8px;
	color: #000;
	font-size: 12px;
	text-align: center;
}

.cls_CartWrapper {
	margin-left: 20px;
	cursor: pointer;
}

.cls_LogoutWrapper {
	cursor: pointer;
}

.cls_SearchWrapper {
	flex: 1;
	text-align: center;
}

input.cls_SearchCont {
	padding: 5px 20px;
	width: 200px;
	border: 0px;
	border-radius: 2px;
}
